################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TransferServiceApi/.vs/TransferServiceApi/v16
/TransferServiceApi/TransferServiceApi/bin/Debug/net5.0
/TransferServiceApi/TransferServiceApi/obj
/TransferServiceApi/.vs/TransferServiceApi/config
